<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://addons.opera.com/addons/extensions/details/traein/" version="0.2" viewmodes="minimized">
	<name>Traein</name>
	<feature name="opera:speeddial">
	<param name="url" value="http://www.irishrail.ie"/>
	</feature>
	<icon src="ie.png"/>
	<access origin="http://www.irishrail.ie"/>
	<preference name="feedUrl" value="http://www.irishrail.ie/realtime/publicinfo.asp?strLocation="/>
	<preference name="count" value="5"/>
	<preference name="interval" value="60"/>
	<preference name="stationCode" value=""/>
	<author href="http://smallroomstudios.net">Smallroomstudios.net</author>
	<description xml:lang="en">Get realtime timetable information for Irish Rail stations. Source: https://github.com/paddy2k/Speeddial-Traein</description>
</widget>
